{% extends 'base.html.twig' %}

{% block title %}Mood Board{% endblock %}

{% block body %}
    <h1> Bienvenue sur l'administration de l'application de Mood Board</h1>


    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>

        {% if is_granted('ROLE_USER')%}
            <a href="{{ path('admin') }}" class="button"> <strong> access au panel admin </strong> </a>
        {% endif %}
    {% endif %}


        <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('app_login') }}">Connexion</a></li>
                    <li><a href="{{ path('app_register') }}">Inscription</a></li>
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}
